#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 40px;
}

.container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.banner {
  display: flex;
  margin: 0px auto;
  padding: 60px 0 118px 0;
  flex-direction: column;
  gap: 32px;
}
.select {
  display: flex;
  gap: 18px;
  padding: 16px 32px;
  align-items: center;
}
.selectBlock {
  display: flex;
  border: 0;
  align-items: center;
  padding: 16px;
  font-size: 24px;
  /* width: 266px; */
  height: 56px;
  background: #fff;
}
.selectBlock:active {
  cursor: point;
  opacity: 70%;
}
.generaterBlock {
  justify-content: space-between;
}
.imgList {
  display: flex;
  gap: 20px;
  align-items: end;
  margin-bottom: 11px;
}
.imgList > li > h3 {
  color: white;
  /* -webkit-text-stroke: 0.3px black; */
  margin-top: -30px;
}
.imgList > li > img {
  width: 150px;
  height: 150px;
}

.navbar {
  background: #d9d9d9;
}
#radio input[type="radio"] {
  display: none;
}
#radio input:checked + .button {
  background: #5e7380;
  color: #fff;
  cursor: default;
}
#radio .button {
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px 10px;
  background: #f7f7f7;
  color: #333;
  cursor: pointer;
}
#radio .button:hover {
  background: #bbb;
  color: #fff;
}
#radio .round {
  border-radius: 5px;
}
#checkbox input[type="checkbox"] {
  display: none;
}
#checkbox input:checked + .button {
  background: #5e7380;
  color: #fff;
}
#checkbox .button {
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px 10px;
  background: #f7f7f7;
  color: #333;
  cursor: pointer;
}
#checkbox .button:hover {
  background: #bbb;
  color: #fff;
}
#checkbox .round {
  border-radius: 5px;
}
